---
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import type { MetaData } from '~/types';
import { Icon } from 'astro-icon/components';
import type { ImageMetadata } from 'astro';

export interface Props {
  frontmatter: {
    title?: string;
    image?: string | ImageMetadata;
    excerpt?: string;
    icon?: `tabler:${string}`;
  };
}

const { frontmatter } = Astro.props;

const metadata: MetaData = {
  title: frontmatter?.title,
  description: frontmatter?.excerpt,
  openGraph: frontmatter?.image ? {
    images: [{
      url: typeof frontmatter.image === 'string' ? frontmatter.image : frontmatter.image.src,
    }],
  } : undefined,
};

const isRemoteImage = typeof frontmatter.image === 'string' && 
  (frontmatter.image.startsWith('http://') || frontmatter.image.startsWith('https://'));
---

<Layout metadata={metadata}>
  <section class="my-8 px-4 sm:px-6 mx-auto max-w-4xl [&>.not-prose]:-mx-4 [&>.not-prose]:sm:-mx-6">
    <div>
      <div class="flex items-center gap-4 mb-12 border-b-8 dark:border-slate-800">
        {frontmatter.icon && (
          <div class="intersect-once motion-safe:opacity-0 motion-safe:intersect:animate-fade">
            <Icon name={frontmatter.icon} class="w-12 h-12 mb-3 text-primary" />
          </div>
        )}
        <h1 class="pb-3 font-bold font-heading text-4xl md:text-5xl leading-tighter tracking-tighter">{frontmatter.title}</h1>
      </div>
      {frontmatter.excerpt && (
        <div class="-mt-8 mb-8">
          <p class="text-xl text-gray-600 dark:text-gray-400">{frontmatter.excerpt}</p>
        </div>
      )}
      {frontmatter.image && (
        <div class="mb-8">
          {isRemoteImage ? (
            <Image 
              src={frontmatter.image}
              alt={frontmatter.title || ''}
              width={1060}
              height={506}
              class="w-full max-h-[506px] object-cover rounded-lg shadow-lg bg-gray-400 dark:bg-slate-700"
              widths={[400, 1060]}
              sizes="(max-width: 1060px) 400px, 1060px"
              loading="eager"
              decoding="async"
            />
          ) : (
            <img 
              src={frontmatter.image} 
              alt={frontmatter.title || ''} 
              class="w-full max-h-[506px] object-cover rounded-lg shadow-lg bg-gray-400 dark:bg-slate-700"
              width="1060"
              height="506"
              loading="eager"
              decoding="async"
            />
          )}
        </div>
      )}
    </div>
    <div
      class="prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8 [&_a.btn-primary]:text-white [&_a.btn]:no-underline"
    >
      <slot />
    </div>
  </section>
</Layout>
