---
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import type { MetaData } from '~/types';
import { Icon } from 'astro-icon/components';
import type { ImageMetadata } from 'astro';

export interface Props {
  frontmatter: {
    title?: string;
    image?: string | ImageMetadata;
    excerpt?: string;
    icon?: `tabler:${string}`;
  };
}

const { frontmatter } = Astro.props;

const metadata: MetaData = {
  title: frontmatter?.title,
  description: frontmatter?.excerpt,
  openGraph: frontmatter?.image ? {
    images: [{
      url: typeof frontmatter.image === 'string' ? frontmatter.image : frontmatter.image.src,
    }],
  } : undefined,
};

const isRemoteImage = typeof frontmatter.image === 'string' && 
  (frontmatter.image.startsWith('http://') || frontmatter.image.startsWith('https://'));
---

<Layout metadata={metadata}>
  <section class="mt-8 px-0 sm:px-4 mx-auto max-w-4xl">
    <div>
      <div class="flex items-center gap-4 mb-12">
        {frontmatter.icon && (
          <Icon name={frontmatter.icon} class="w-12 h-12 text-primary article-icon" />
        )}
        <h1 class="font-bold font-heading text-4xl md:text-5xl leading-tighter tracking-tighter">{frontmatter.title}</h1>
      </div>
      {frontmatter.excerpt && (
        <div class="-mt-8 mb-8">
          <p class="text-xl text-gray-600 dark:text-gray-400">{frontmatter.excerpt}</p>
        </div>
      )}
      {frontmatter.image && (
        <div class="mt-3 mb-8 md:float-right md:ml-8 md:mb-4 md:w-[45%]">
          {isRemoteImage ? (
            <Image 
              src={frontmatter.image}
              alt={frontmatter.title || ''}
              width={1200}
              height={600}
              class="w-full rounded-lg shadow-lg"
            />
          ) : (
            <img 
              src={frontmatter.image} 
              alt={frontmatter.title || ''} 
              class="w-full rounded-lg shadow-lg"
              width="1200"
              height="600"
              loading="eager"
            />
          )}
        </div>
      )}
    </div>
    <div
      class="prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      <slot />
    </div>
  </section>
</Layout>
